/**********
GENERAL
**********/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    visibility: visible;
    opacity: 1;
}

body {
    font-family: 'Libre Franklin', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 100vw;
    min-height: 100vh;
    background-color: #ffffff;
    padding-top: 80px;
    padding-bottom: 35px;
    color: #15202A;
    font-weight: 300;
}

img {
    width: 100%;
    height: auto;
}

header,
main,
footer {
    padding-right: 30px;
    padding-left: 30px;
}

/**********
HEADER
**********/

header {
    margin-bottom: 30px;

}

/**********
MAIN
**********/
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-weight: 300;
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 15px;
    color: #969696;
}

h1 strong {
    font-weight: 700;
    color: #15202A;
}

p {
    font-weight: 300;
    font-size: 12px;
}

.text {
    margin-bottom: 32px;
}

.email-signup {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 72px;
}

input {
    border-radius: 28px;
    width: 100%;
    padding: 12px 32px;
    font-size: 12px;
    font-family: 'Libre Franklin', sans-serif;
}

#email {
    font-weight: 300;
    margin-bottom: 10px;
    border: 1px solid #C2D3FF;
    width: 281px;
}


#invalid-text,
#valid-text {
    display: none;
    font-size: 10px;
    line-height: 20px;
    margin-bottom: 20px;
    text-align: center;
}

#invalid-text {
    color: #FF5466;
}

#valid-text {
    color: #2ECC71;
}

#submit {
    font-weight: 600;
    border: none;
    background-color: #4C7BF3;
    color: #ffffff;
    max-height: 58px;
    width: 281px;
    box-shadow: 1px 5px 10px 1px hsl(223, 100%, 80%);
    opacity: 1;
}

#submit:hover {
    cursor: pointer;
    background-color: hsl(223, 100%, 72%);
}
 
#submit:active {
    box-shadow: none;
    transform: translate(0, 5px); 
} 



.image {
    margin-bottom: 120px;
    max-width: 640px;
}

/**********
FOOTER
**********/

.social-icons {
    margin-bottom: 30px;
}

.social-icons li {
    display: inline-block;
    margin: 0 6px;
}

.copyright {
    margin-bottom: 35px;
    font-size: 12px;
    font-weight: 300;
    color: #969696;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

/**********
MEDIA QUERIES
**********/

@media (min-width: 850px) {
    p {
        font-size: 20px;
    }

    header {
        margin-bottom: 40px;
    }
    .email-signup form {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    input {
        padding: 18px 30px;
        font-size: 16px;
        line-height: 20px;
    }

    #email {
        margin-bottom: 0;
        width: 421px;
    }

    #email::placeholder {
        color: #B8C7ED;
        font-weight: 300;
    }

    #invalid-text,
    #valid-text {
        text-align: left;
        margin-left: 30px;
        margin-top: 10px;
    }

    #submit {
        width: 200px;
        margin-left: 15px;
    }

    h1 {
        font-size: 48px;
        line-height: 60px;
    }

    .image {
        margin-bottom: 72px;
    }

    .copyright {
        font-size: 12px;
    }
}